:root {
    --text-color: #f5efef;
    --link-color: #7cf03d;
    --background-color: #1f242d;
    --placeholder-color: #6c757d;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    max-width: 1400px;
    margin: 0 auto;
}

a {
    color: var(--link-color);
    text-decoration: none;

}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    align-items: center;
}

nav .left a {
    color: var(--text-color);
    font-weight: 600;
    font-size: 22px;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}


/* HERO SECTION */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.hero-section .text {
    flex: 5;
}

.hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.hero-section .headshot img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
}

.hero-section .text h2 {
    font-size: 50px;
    font-weight: 600;
}


.hero-section .text .links {
    margin-top: 25px;
}

.hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.1s;
}

.hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid;
}

@keyframes cycleText {
    0%, 5% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10%, 30% {
        opacity: 1;
        transform: translateY(0);
    }
    35%, 100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

/* Section 2: Skills Section */
.skills-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.skills-section h2 {
    text-align: center;
    font-size: 35px;
}

.skills-section .text {
    text-align: center;
    margin-bottom: 50px;
}

.skills-section .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-section .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    padding:10px 20px;
    border: 1.5px solid #d3d3d3;
    border-radius: 5px;
    margin: 10px;
    transition: 0.1s;
    gap: 10px;
}

.skills-section .cells .cell img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 2px;
}

.skills-section .cells .cell span {
    font-size: 18px;
}

@media (max-width: 850px) {
    /* Section 1: Hero Section */
    .hero-section .text h2{
        font-size: 35px;
    }
}


/* Section 4: Contact Section */
.contact-section {
    padding: 0 50px;
    margin-bottom: 100px;
}

.contact-section h2 {
    font-size: 35px;
}

.contact-section .group {
    display: flex;
    gap: 50px;
}   

.contact-section .group .text {
    flex: 3;
    margin-top: 20px;
}

.contact-section .group form {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--link-color);
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    resize: none;
}

.contact-section .group form button {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #ffffff;
    background-color: var(--link-color);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
    height: 40px;
}

.contact-section .group form button:hover {
    filter: brightness(0.9);
}

@media (max-width: 740px) {
    /* Section 1: Hero Section */
    .hero-section {
        flex-direction: column-reverse;
    }

    .hero-section .headshot img {
        width: 300px;
        height: 300px;
    }
    /* Section 4: Contact Section */
    .contact-section .group {
        flex-direction: column;
    }
}

@media (max-width: 690px) {
    /* NAVBAR */
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        color: var(--text-color);   
        background-color: transparent;
        padding: 0;
    }

    nav .right a span {
        display: none;
    }

    /* Section 1: Hero Section */
    .hero-section {
        padding: 0 20px;
    }

    .hero-section .text h2 {
        font-size: 30px;
    }

    /* Section 2: Skills Section */
    .skills-section {
        padding: 0 20px;
    }

    .skills-section .cells .cell span {
        font-size: 16px;
    }

    /* Section 4: Contact Section */
    .contact-section {
        padding: 0 20px;
    }
}
